body{
    margin: 0;
    padding: 0;
    background: url(../fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;

}

.login-box{
    width: 320px;
    height: 420px;
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login-box .avatar{
    width: 60hv;
    height: 60hv;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    transform: translate(40%);
    
} 

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}


.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;

}

.login-box input[type=text],
.login-box input[type=password] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.login-box input[type=submit] {
    border: none;
    outline: none;
    height: 40px;
    background: #18e6f5c9;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

    
}
a{

}
  